body.about {
    background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14293_hires.jpg"); 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body.portfolio {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/aa/Sunset_over_Western_South_America.jpg"); 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px black;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animatedBackground 100s linear infinite;
}

body.contact {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Very_Large_Array%2C_2012.jpg/1600px-Very_Large_Array%2C_2012.jpg"); 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /* text-shadow: 2px 2px black; */
    animation: animatedBackground 30s linear infinite;
}

.nav-btn-border {
    border-right: solid 1px #cccccc;
    padding-right: 20px;
}

.headcont {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    border-bottom: solid 2px;
    border-color: #cccccc;
    padding: 0;
    background: #ffffff;
    background-image: url("https://c.pxhere.com/photos/6f/e4/longexposure_sky_night_stars_nebula_astrophotography_nightsky-475590.jpg!d");
    background-size: cover;
}

.thumbnail { 
    margin-top: 30px;
    margin-left: -30px;
    width: 300px;
    height: 300px;
    padding: 30px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    float: left;
}

.container {
    overflow: auto;
    position: relative;
    border: solid 1px #cccccc;
    padding:30px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:  900px;
    background-color: #ffffff27;
    
}
body.contact .container {
    background-color: #ffffff91;
    color: black;
}
body.contact h2{
    color: black;
}
p {
    padding-top: 20px;
    line-height: 2;
}

#bio-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding-top: 30px;
} 

footer, #pfoot {
    text-align: center;
    color: #cccccc;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #547ea6;
    padding: 20px;
    /* background: #666666e3; */
    background-image: url("https://c.pxhere.com/photos/6f/e4/longexposure_sky_night_stars_nebula_astrophotography_nightsky-475590.jpg!d");

}

#pfoot {
    position: relative;
}

hr {
    border: 1px solid #dddddd;
}

h1, h2 {
    font-weight: bold;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact h4 {
    color: black;
}

.imgtag {
    bottom: 20px;
    text-align: center;
    font-size: 30px;
    width: 260px;
    padding: 20px;
    background: #547ea6;
    color: #ffffff;
    position: absolute;
}

h2 {
    color: #fef1cd;
    /* color: #87d2fd; */
    padding-bottom: 20px;
    text-align: left;
}
h4 {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fef1cd;
    /* color: #87d2fd; */
    font-size: 18px;
}
.contact h4 {
    color: black;
}
a {
    color: #cccccc;
    text-decoration: none;
}
a:hover {
    color: black;
}

ul li {
    margin-left: 20px;
    display: inline-block; 
}

#nav {
    padding: 30px 0px 30px;
    margin-top: -100px;
    font-size: 18px;
    float: right;
}

#logo {
    text-align: center;
    padding: 20px;
    width: 19%;
    background: #a6695742;
    /* background: #547ea68c; */
    color: #ffffff;
}

input[type=text], select, textarea {
    margin-left: 0px;
    width: 894px;
    box-sizing: content-box;
    margin-top: 5px;
    margin-bottom: 30px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #40928e;
}

form {
    padding-top: 30px;
}
section.connectme {
    padding: 10px;
    text-align: center;
}
i {
    width: 80px;
    margin: 5px;
    font-size: 80px;
}
a.linkd {
    color: blue;
}

a.sover {
    color: orange;
}

a.insta, a.gsquare {
    color: black;
}
a:hover {
    color: white;
 }
 body.about footer {
    border-top-color: #cccccc;

 }
@media screen and (max-width: 980px) {
    
    .container {
        width: 680px;
    }
    .headcont {
        position: static;
        width: 740px;
    }
    input[type=text], select, textarea {
        width: 674px;
    }
}

@media screen and (max-width: 768px) {
    
    .container {
        width: 578px;
    }
    h1 {
        font-size: 30px;
    }
    #bio-image {
        height: 300px;
        width: 300px;
    }
    .headcont {
        position: static;
        width: 640px;
    }
    input[type=text], select, textarea {
        width: 572px;
    }
    .imgtag {
        width: 235px;
    }
    .thumbnail {
        height: 259px;
        width: 259px;
        padding-bottom: 10px;
    }
    #pimg1, #pimg2, #pimg3, #pimg4, #pimg5, #pimg6, #pimg7, #pimg8, #pimg9, #pimg10, #pimg11, #pimg12, #pimg13  {
        height: 275px;
        width: 275px;
    }
}

@media screen and (max-width: 640px) {
    
    .container {
        width: 500px;
    }
    .headcont {
        position: static;
        width: 640px;
    }
    input[type=text], select, textarea {
        width: 496px;
    }
    #logo {
        width: 100%;
    }
    h1 {
        margin-right: 60px;
    }
    #bio-image {
        height: 500px;
        width: 500px;
        margin-bottom: 20px;
    }
    header {
        border-bottom: solid 2px;
        border-color: #cccccc;
        height: 120px;
        background: #ffffff;
    }
    #nav {
       margin-right: 200px;
        margin-top: -10px;
    }
    .imgtag {
        width: 460px;
    }
    .thumbnail {
        height: 500px;
        width: 500px;
    }
    #pimg1, #pimg2, #pimg3, #pimg4, #pimg5, #pimg6, #pimg7, #pimg8, #pimg9, #pimg10, #pimg11, #pimg12, #pimg13 {
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 639px) {
    body.about {
        animation: animatedBackground 200s linear infinite;

    }
    .container {
        width: 250px;
    }
    .contact h2 {
        color: black;
    }
    .headcont {
        position: static;
        width: 100%;
    }
    input[type=text], select, textarea {
        width: 240px;
    }
    #logo {
       
        width: 100%;
    }
    h2 {
        text-align: center;
    }
    #bio-image {
        height: 250px;
        width: 250px;
        margin-bottom: 20px;
    }
    header {
        background-image: url("https://c.pxhere.com/photos/6f/e4/longexposure_sky_night_stars_nebula_astrophotography_nightsky-475590.jpg!d");

        border-bottom: solid 2px;
        border-color: #cccccc;
        height: 120px;
        /* background: #ffffff; */
    }
    #nav {
      
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: -10px;
    }
    ul {
        text-align: center;
    }
    h3 {
        font-size: 22px;
    }
    .imgtag {
        padding: 5px;
        width: 250px;
    }
    .thumbnail {
        height: 250px;
        width: 250px;
    }
    #pimg1, #pimg2, #pimg3, #pimg4, #pimg5, #pimg6, #pimg7, #pimg8, #pimg9, #pimg10, #pimg11, #pimg12, #pimg13 {
        border: 5px solid ;
        /* padding: 15px; */
        -webkit-border-image: url("https://cdn.pixabay.com/photo/2016/07/16/14/18/space-1522035_960_720.jpg") 30 round; 
        -o-border-image: url("https://cdn.pixabay.com/photo/2016/07/16/14/18/space-1522035_960_720.jpg") 30 round; 
        border-image: url("https://cdn.pixabay.com/photo/2016/07/16/14/18/space-1522035_960_720.jpg") 30 round;
        height: 250px;
        width: 250px;
    }
}